.main {
  width: 100vw;

  margin: 0 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-sizing: border-box;
}

.category {
  margin-top: 50px;
}

.categoryBox {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.layerContainer {
  width: 400px;
  height: 300px;

  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  top: 0;
}
